{% extends 'base.html' %}
{% block content_main %}
<div class="margin-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar-categories"></div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4">
            {# {% for query in qs %} #}
            <div class="container-card">
              <div class="card-product">
                <div class="card-header-product">
                  {% load static %}
                  <img src="{% static 'img/mause.png' %}" loading="lazy" alt="">
                </div>
                <div class="card-body-product">
                  <div class="tag-all">
                    <a class="tag tag-teal" href="#">Monitor<span ></span></a>
                    <a class="tag tag-teal" href="#">Samsung<span></span></a>
                  </div>
                  <!-- <h4>{{query.pdName}}</h4> -->
                  <h4>Cualquier product disponibble</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora est saepe dolore quod atque id debitis.
                    <!-- {{query.pdDescription|truncatechars_html:100|safe|striptags}}
                    {% if query.pdDescription|length >= 100 %}<a href="#">Ver mas</a>{% endif %} -->
                  </p>
                  <div class="user"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            {# {% for query in qs %} #}
            <div class="container-card">
              <div class="card-product">
                <div class="card-header-product">
                  {% load static %}
                  <img src="{% static 'img/mause.png' %}" loading="lazy" alt="">
                </div>
                <div class="card-body-product">
                  <div class="tag-all">
                    <a class="tag tag-teal" href="#">Monitor<span ></span></a>
                    <a class="tag tag-teal" href="#">Samsung<span></span></a>
                  </div>
                  <!-- <h4>{{query.pdName}}</h4> -->
                  <h4>Cualquier product disponibble</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora est saepe dolore quod atque id debitis.
                    <!-- {{query.pdDescription|truncatechars_html:100|safe|striptags}}
                    {% if query.pdDescription|length >= 100 %}<a href="#">Ver mas</a>{% endif %} -->
                  </p>
                  <div class="user"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            {# {% for query in qs %} #}
            <div class="container-card">
              <div class="card-product">
                <div class="card-header-product">
                  {% load static %}
                  <img src="{% static 'img/mause.png' %}" loading="lazy" alt="">
                </div>
                <div class="card-body-product">
                  <div class="tag-all">
                    <a class="tag tag-teal" href="#">Monitor<span ></span></a>
                    <a class="tag tag-teal" href="#">Samsung<span></span></a>
                  </div>
                  <!-- <h4>{{query.pdName}}</h4> -->
                  <h4>Cualquier product disponibble</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora est saepe dolore quod atque id debitis.
                    <!-- {{query.pdDescription|truncatechars_html:100|safe|striptags}}
                    {% if query.pdDescription|length >= 100 %}<a href="#">Ver mas</a>{% endif %} -->
                  </p>
                  <div class="user"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            {# {% for query in qs %} #}
            <div class="container-card">
              <div class="card-product">
                <div class="card-header-product">
                  {% load static %}
                  <img src="{% static 'img/mause.png' %}" loading="lazy" alt="">
                </div>
                <div class="card-body-product">
                  <div class="tag-all">
                    <a class="tag tag-teal" href="#">Monitor<span ></span></a>
                    <a class="tag tag-teal" href="#">Samsung<span></span></a>
                  </div>
                  <!-- <h4>{{query.pdName}}</h4> -->
                  <h4>Cualquier product disponibble</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora est saepe dolore quod atque id debitis.
                    <!-- {{query.pdDescription|truncatechars_html:100|safe|striptags}}
                    {% if query.pdDescription|length >= 100 %}<a href="#">Ver mas</a>{% endif %} -->
                  </p>
                  <div class="user"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}