{% load static %}
<div class="container-fluid p-0">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators paddingb-5">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img loading="lazy" src="{% static 'img/img-main/img-1.jpg'%}" class="d-block w-100" alt="...">
        <div class="paddingb-5 carousel-caption d-none d-md-block text-white">
          <h2>Siempre dando lo mejor de nosotros</h2>
          <p>Estamos totalmente capacitados para solucionar los problemas de tus equipos.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img loading="lazy" src="{% static 'img/img-main/img-2.jpg'%}" class="d-block w-100 h-100" alt="...">
        <div class="paddingb-5 carousel-caption d-none d-md-block text-white">
          <h2>Siempre dándote la mejor experiencia en tecnología</h2>
          <p>Contamos con todo lo necesario para que tengas la mejor experiencia en tecnología.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img loading="lazy" src="{% static 'img/img-main/img-3.jpg'%}" class="d-block w-100 h-100" alt="...">
        <div class="paddingb-5 carousel-caption d-none d-md-block text-white">
          <h2>Has llegado al lugar indicado para la reparación tu equipo</h2>
          <p>Si necesitas Reparación de Computadores has llegado al lugar adecuado. Nuestro Servicio Técnico está compuesto por expertos que conocen en profundidad todos y cada uno de los dispositivos que tienen que reparar.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>