{% extends 'base.html' %}
{% block content_main %}
<div class="mrg-top">
  {% if not request.user.is_authenticated %}
    {#{% include 'components/header/login-logout.html' %}#}
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 position-relative">
        <div class="sidebar-categories">
          {% include 'sidebar-category.html' %}
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          {% if qs %}
          {% for query in qs %}
          <div class="col-lg-4 col-md-6">
            <div class="container-card">
              <div class="card-product">
                <div class="wrapper-component">
                  {% if request.user.is_authenticated and request.user.is_superuser %}
                  <a href="{% url 'Admin:delete-products' query.id %}"><i class="far fa-trash-alt" style="color: #EE4072;"></i></a>
                  {% endif %}
                </div>
                <div class="card-header-product">
                  {% load static %}
                  <img src="{{query.get_image_url}}" loading="lazy" alt="">
                </div>
                <div class="card-body-product">
                  <div class="tag-all">
                    <span class="tag tag-teal">{{query.pdCategories}}</span>
                    <span class="tag tag-teal">{{query.pdBrand}}</span>
                  </div>
                  <h4>{{query.pdName}}</h4>
                  <p>
                    {{query.pdDescription|truncatechars_html:50|safe|striptags}}
                    {% if query.pdDescription|length >= 50 %}<a href="{% url 'Product:more-view' query.id %}">Ver mas</a>{% endif %}
                  </p>
                  <div class="shopping-box">
                    <div class="cart">
                      <a
                        target="_blank"
                        title="{{query.pdName}}"
                        href="https://api.whatsapp.com/send/?phone=+573002370341&text=Me interesa comprar este producto {{query.pdName}}, marca: {{query.pdBrand}}. Codigo del producto {{query.pdCode}}"
                      >
                        <span>Comprar</span>
                        <i class="fas fa-cart-arrow-down"></i>
                      </a>
                    </div>
                    <div class="eye">
                      <a href="{% url 'Product:more-view' query.id %}">
                        <span>Vista previa</span>
                        <i class="fas fa-eye"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%  endfor %}
        </div>
        <!-- RENDER YOU LIST HERE. Now context_query_name must be qs or whatever name you call it-->
        <div class="pagination">
          {% if qs.has_previous %}
          <div class="page-link-custom">
            <a href="?page={{ qs.previous_page_number }}">previous</a>
          </div>
          {% endif %}
          <span class="current">
            Page {{ qs.number }} of {{ qs.paginator.num_pages }}.
          </span>
          {% if qs.has_next %}
          <div class="page-link-custom">
            <a href="?page={{ qs.next_page_number }}">next</a>
          </div>
          {% endif %}
        </div>
        {% else %}
        <div class="col-lg-12">
          <div class="vh-100" role="alert">
            <div class="alert-custom">
              <div class="alert-modal">
                <div class="alert-header">
                  <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="alert-body">
                  <h2>Alerta!!!</h2>
                  <p>Lo sentimos, pero el producto que estas buscando no se encuentra, o esta mal escrito.</p>
                  <p>Por favor intentelo de nuevo. Gracias.</p>
                </div>
                <div class="alert-footer"><a class="btn btn-primary" href="{% url 'Product:list-products' %}">Seguir viendo <strong>productos</strong></a></div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}