{% extends 'base.html' %}
{% block content_main %}
<div class="mrg-top">
  {% if not request.user.is_authenticated %}
    {#{% include 'components/header/login-logout.html' %}#}
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="more-view-aside">
          <div class="sidebar-categories">
            {% include 'sidebar-category.html' %}
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="vh-100" role="alert">
          <div class="row shadow p-3 mb-5 mt-5 bg-body rounded">
            {% if object is not None %}
            <div class="col-lg-6">
              <div class="loading-lazy">
                <img src="{{object.get_image_url}}" loading="lazy" class="img-fluid" alt="{{object.pdName}}">
                <div class="text-float"><h3>{{object.pdName}}</h3></div>
              </div>
              <div class="box-footer-more-view">
                <small>Precio:</small>
                {% if object.pdPrice %}
                <h2>$ <small>{{object.pdPrice}}</small></h2>
                {% else %}
                <div class="shopping-box">
                  <div class="cart">
                    <p>Este producto no cuenta con un precio oficial, Por favor comuniquese directamente con nosotros.
                      <a 
                        target="_blank"
                        title="{{object.pdName}}" href="https://api.whatsapp.com/send/?phone=+573002370341&text=Hola, Me interesaria saber el precio de este producto: {{object.pdName}}, marca: {{object.pdBrand}}. Codigo del producto {{object.pdCode}}"
                      >
                      <span>Consultar</span>
                      <i class="fas fa-cart-arrow-down"></i>
                      </a>
                    </p>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-lg-6 pt-2">
              <h2>{{object.pdName}}</h2>
              <figure>
                <blockquote class="blockquote">
                  <p>Descricion del producto.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  {{object.pdDescription|safe}}
                </figcaption>
              </figure>
              <div class="shopping-box">
                <div class="cart">
                  <a 
                    target="_blank"
                    title="{{object.pdName}}"
                    href="https://api.whatsapp.com/send/?phone=+573002370341&text=Me interesa comprar este producto {{object.pdName}}, marca: {{object.pdBrand}}. Codigo del producto {{object.pdCode}} con un valor de {{object.pdPrice}}"
                  >
                    <span>Comprar</span>
                    <i class="fas fa-cart-arrow-down"></i>
                  </a>
                </div>
              </div>
            </div>
            {% else %}
            <div class="col-lg-12">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p>Al parecer a ocurrido un error interno al intentar capturar el producto seleccionado, este producto se encuentra eliminado, o ya no se encuentra disponible, si necesitas mas ayuda por favor comuniquese con nosotros <a href="/#contact">Aqui</a>.</p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}