{% extends 'adminPage.html' %}
{% block titulo %}INK | Eliminar Productos{% endblock titulo %}
{% block body %}
<div class="row vh-100">
  <div class="col-lg-2"></div>
  <div class="col-lg-6 pt-5">
    <div class="row">
      <form method="POST">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">
          Estas usted realmente seguro de eliminar este producto de su listado?
          <p>Se eliminara <strong>{{object.pdName}}</strong></p>
        </div>
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </form>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
{% endblock %}