.main-wrapper-first{
  display: flex;
}
.main-wrapper-first .content-first .loading-lazy{
  background-color: #000;
  height: 100vh;
  width: 500px;
}

@media only screen and(min-width:767px){}
@media only screen and(max-width:768px){}