{% extends 'base.html' %}
{% load static %}
{% block content_main %}
<div class="mrg-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 position-relative">
        <div class="maintenance-header">
          <h2>Mantenimientos Preventivos</h2>
        </div>
        <article class="article-custom">
          <p>El <strong>mantenimiento preventivo</strong> es aquel que nos permite detectar fallos repetitivos, disminuir los puntos muertos por paradas, aumentar la vida útil de los equipos, disminuir costos de reparaciones a futuro, detectar puntos débiles en la instalación entre una larga lista de ventajas para mantener un equipo en óptimas condiciones.</p>
          <p><strong style="color: brown;">No somos representantes de ninguna marca aquí estipulada, Somos un servicio que se presta de manera independiente a los canales autorizados</strong></p>
          <p><small>El <strong>mantenimiento preventivo</strong> trata de una revisión periódica de algunos aspectos determinados de un equipo de computo, tanto de <strong>hardware</strong> como de <strong>software</strong> en un computador, impresora, portátil y/o servidor. Estos aspectos influyen en el desempeño óptimo del sistema, en la integridad de los datos almacenados y en un intercambio de información correcto, a la máxima velocidad posible dentro de la configuración optima del sistema.</small></p>
          <p><small>Dentro del <strong>mantenimiento preventivo</strong> existe software que permite al usuario vigilar constantemente el estado de su equipo, así como también realizar pequeños ajustes de una manera fácil. Además debemos agregar que el <strong>mantenimiento preventivo</strong> en general se ocupa en la determinación de condiciones operativas, de durabilidad y de confiabilidad de un equipo en mención este tipo de mantenimiento nos ayuda en reducir los tiempos que pueden generarse por mantenimiento correctivo.</small></p>
          <p><small>En lo que concierne al <strong>mantenimiento preventivo</strong> de un producto software, se diferencia del resto de tipos de mantenimientos <strong>(especialmente del mantenimiento perfectivo)</strong> en que, mientras que el resto <strong>(correctivo, evolutivo, perfectivo, adaptativo...)</strong> se produce generalmente tras una petición de cambio por parte del cliente o del usuario final, el preventivo se produce tras un estudio de posibilidades de mejora en los diferentes módulos del sistema.</small></p>
          <p><small>Para detallar más acerca de nuestros servicios de <strong>mantenimiento preventivos</strong>  de equipos informáticos lo hemos dividido clasificado de la siguiente manera:</small></p>
        </article>
      </div>
      <div class="maintenance-header">
        <h3>Servicios de mantenimiento preventivo para</h3>
      </div>
      <div class="col-lg-12 position-relative">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <div class="maintenance-pre-corre">
              <a href="{% url 'Main:preventiveComputer' %}">
                <h5>Preventivos Computadores</h5>
                <div class="load-laz">
                  <img class="img-fluid" src="{% static 'img/computer.jpg' %}" alt="">
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6">
            <div class="maintenance-pre-corre">
              <a href="{% url 'Main:preventivePrinter' %}">
                <h5>Preventivos Impresoras</h5>
                <div class="load-laz">
                  <img class="img-fluid" src="{% static 'img/printer.jpg' %}" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}