{% extends 'base.html' %}
{% load static %}
{% block content_main %}
<div class="mrg-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 position-relative">
        <div class="maintenance-header">
          <h2>Mantenimiento Especializado.</h2>
          <small>&</small>
          <h3 style="margin: 0;">Nuestro Servicios.</h3>
        </div>
        <article class="article-custom">
          <p>Un computador ya sea Portátil o de escritorio, como todas las cosas, debe cuidarse y mantenerse en condiciones adecuadas para prevenir los problemas a futuro. Objetivamente en un computador existen dos cosas diferentes que deberán cuidarse para su óptimo rendimiento:</p>
          <p>El hardware <strong>(la parte física)</strong> y el software <strong>(los programas y la información que el computador tiene)</strong>. Para tal fin, existe un servicio prestado por personal técnicos certificado y especializado quienes son los encargados del mantenimiento de los computadores.</p>
          <p><small>Se entiende por mantenimiento al conjunto de actividades que se requieren realizar periódicamente para mantener al computador en óptimo estado de funcionamiento, y poder detectar a tiempo cualquier indicio de fallas o daños en sus componentes.</small></p>
          <p><strong style="color: brown;">No somos representantes de ninguna marca aquí estipulada, Somos un servicio que se presta de manera independiente a los canales autorizados</strong></p>
          <p><small>Para detallar más acerca de nuestros servicios de <strong>mantenimiento especializado</strong> de <strong>equipos informáticos</strong> lo hemos dividido en dos secciones, una que comprende todos los servicios de <strong>mantenimiento preventivo</strong> de <strong>equipos informáticos</strong>, que se relaciona al <strong>mantenimiento</strong> que se le hace a los equipos de computo / impresoras / servidores, para que no tengan ningún daño a futuro y otra sección que comprende los servicios de mantenimiento correctivo, que especifica los <strong>mantenimientos</strong> que intentan corregir algún daño especifico ya sea en un Computador, Impresora y/o servidor.</small></p>
        </article>
      </div>
      <div class="col-lg-12 position-relative">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <div class="maintenance-pre-corre">
              <a href="{% url 'Main:preventive' %}">
                <h5>Mantenimiento Especializado Preventivos</h5>
                <div class="load-laz">
                  <img class="img-fluid" src="{% static 'img/mantenimiento.jpg' %}" alt="">
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6">
            <div class="maintenance-pre-corre">
              <a href="{% url 'Main:corrective' %}">
                <h5>Mantenimiento Especializado Correctivos</h5>
                <div class="load-laz">
                  <img class="img-fluid" src="{% static 'img/ilustracion.jpg' %}" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 position-relative">
        <div class="maintenance-header">
          <h4><strong>Ventajas del mantenimiento Especializado con INK-DYE.</strong></h4>
        </div>
        <article class="article-custom">
          <p>A diferencia de otras compañías, INK-DYE soluciones con su <strong>servicio especializado de mantenimiento</strong>, le ofrece las siguientes ventajas en su servicios:</p>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item"><strong>Mantenimiento Especializado de Hardware</strong>. Limpieza interna y externa de equipos informáticos (computadores / Portátiles / Impresoras / Servidores)</li>
            <li class="list-group-item">Actualización e instalación de programas en computadores requeridos para el Hardware informático.</li>
            <li class="list-group-item"><strong>Mantenimiento Especializado de Software.</strong></li>
            <li class="list-group-item">Diagnostico del equipo informático.</li>
            <li class="list-group-item">Hoja de vida del equipo (s). (computadores / Portátiles / Impresoras / Servidores).</li>
            <li class="list-group-item">Instalamos dispositivos y entrenamos de la forma más adecuada a nuestros clientes para que utilicen sus equipos con un máximo de potencial.</li>
            <li class="list-group-item">Soporte gratuito del estado de su computador, trámites y/o servicios requeridos en @gmail.com. Lunes a Sabados de 8:30 am - 6:30 pm.</li>
          </ol>
        </article>
      </div>
      <div class="col-lg-12 position-relative">
        <div class="maintenance-header">
          <h4>Descripción de nuestros Servicio de Mantenimiento Especializado.</h4>
          <h5>Productos para el mantenimiento especializado.</h5>
        </div>
        <article class="article-custom">
          <p>INK-DYE Soluciones integrales, cuenta con un grupo de expertos en <strong>mantenimiento especializado</strong> de <strong>equipos informáticos</strong> que atienden tanto el <strong>mantenimiento correctivo</strong>, como el <strong>mantenimiento preventivo</strong> para los siguientes productos:</p>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">Mantenimiento especializado para computadores de escritorio</li>
            <li class="list-group-item">Mantenimiento especializado para computadores Portátiles</li>
            <li class="list-group-item">Mantenimiento especializado para Impresoras</li>
            <li class="list-group-item">Mantenimiento especializado para Servidores.</li>
          </ol>
        </article>
      </div>
      <div class="col-lg-12 position-relative">
        <div class="maintenance-header"><h3>Características del servicio.</h3></div>
        <article class="article-custom">
          <p><strong>INK-DYE Soluciones Integrales</strong> es una solución completa en servicios de <strong>mantenimiento especializado</strong> para la informática.  Nuestros servicios de mantenimiento están diseñados tanto para aquella persona que cuenta con una computadora / impresora en casa, como para las empresas que cuentan con una infraestructura tecnológica que necesita de mantenimiento en su compañía, ya sean computadores de escritorio, portátiles / Laptops, impresoras y/o servidores.</p>
          <p>Contamos con un <strong>servicio de mantenimiento especializado</strong> de calidad, no sólo por  nuestro personal, sino también por la garantía y respaldo que ofrecemos. Nuestro <strong>servicio de mantenimiento especializado</strong> comprende aspectos para: adquirir, actualizar, reparar, los arreglos para el mantenimiento general de su computador / impresora y/o servidor.</p>
          <p>Nosotros no sólo hacemos el <strong>mantenimiento especializado</strong> de equipos informáticos, también proporcionamos asesoramiento sobre los tipos de equipos disponibles para cubrir sus necesidades específicas, contribuir a la adquisición del equipamiento, instalarlo en la llegada y entrenarlo en su uso. También puede actualizar o reparar el equipo existente, adaptar o crear una base de datos para manejar su flujo de trabajo, solucionar los fallos del sistema o de software y proporcionar y mantener redes en su casa simple y eficiente. Con INK-DYE Soluciones Integrales, se le harán más fáciles las actividades con su computador, integrándose a la nueva onda tecnológica, y sacándole provecho al gran potencial de su equipo de cómputo.</p>
          <p>Por lo tanto, si usted necesita un <strong>mantenimiento especializado</strong> para sus equipos informáticos (computadores, impresoras / Servidores),  o están pensando en instalar una tarjeta de vídeo, dispositivos USB, cable de poder, más memoria RAM, lo que sea! No dude en ponerse en contacto con INK-DYE Soluciones Integrales, su solución de servicio completo.</p>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}