{% if request.path == '/' %}
<div class="wrapper-nav-bar">
  <nav class="navbar-response">
    <ul class="nav-response">
      <li class="item-response">
        <a class="link-response" href="{% url 'Product:list-products' %}">
          <div class="box-sidebar">
            <span>Nuestros productos</span>
            <i class="fas fa-boxes"></i>
          </div>
        </a>
      </li>
      <li class="item-response">
        <a class="link-response" href="#about">
          <div class="box-sidebar">
            <span>Sobre nosotros</span>
            <i class="fas fa-users"></i>
          </div>
        </a>
      </li>
      <li class="item-response">
        <a class="link-response" href="#contact">
          <div class="box-sidebar">
            <span>Contanto</span>
            <i class="fas fa-address-book"></i>
          </div>
        </a>
      </li>
      <li class="item-response">
        <a class="link-response" href="#help">
          <div class="box-sidebar">
            <span>Ayuda</span>
            <i class="fas fa-hands-helping"></i>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>
{% else %}
<div class="wrapper-nav-bar">
  {% include 'components/header/dropdown.html' %}
  <nav class="navbar-response">
    {#{% if request.user.is_authenticated and request.user.is_superuser %}#}
    <ul class="nav-response">
      <li class="item-response actv">
        <a class="link-response" href="{#{% url 'Admin:list-products' %}#}">
          <div class="box-sidebar">
            <span>Admin</span>
            <i class="fas fa-users-cog"></i>
          </div>
        </a>
      </li>
      {#{% endif %}#}
      {#{% if request.user.is_authenticated %}#}
      <li class="item-response actv">
        <a class="link-response" href="{#{% url 'logout' %}#}">
          <div class="box-sidebar">
            <span>Logout</span>
            <i class="fas fa-sign-out-alt"></i>
          </div>
        </a>
      </li>
      {#{% endif %}#}
    </ul>
  </nav>
</div>
{% endif %}