<div class="wrapper-nav-bar">
  <nav class="navbar-response">
    <ul class="nav-response">
      <li class="item-response actv">
        <a class="link-response" href="{% url 'Product:pro' %}">
          <div class="box-sidebar">
            <span>Nuestros productos</span>
            <i class="fas fa-boxes"></i>
          </div>
        </a>
      </li>
      <li class="item-response">
        <a class="link-response" href="#about">
          <div class="box-sidebar">
            <span>Sobre nosotros</span>
            <i class="fas fa-users"></i>
          </div>
        </a>
      </li>
      <li class="item-response">
        <a class="link-response" href="#contact">
          <div class="box-sidebar">
            <span>Contanto</span>
            <i class="fas fa-address-book"></i>
          </div>
        </a>
      </li>
      <li class="item-response">
        <a class="link-response" href="#help">
          <div class="box-sidebar">
            <span>Ayuda</span>
            <i class="fas fa-hands-helping"></i>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>