<nav class="navbar">
  <ul class="nav">
    <li class="item actv">
      <a class="link" href="#">
        <div class="box-sidebar">
          <span>Nuestros productos</span>
          <i class="fas fa-boxes"></i>
        </div>
      </a>
    </li>
    <li class="item">
      <a class="link" href="#">
        <div class="box-sidebar">
          <span>Sobre nosotros</span>
          <i class="fas fa-users"></i>
        </div>
      </a>
    </li>
    <li class="item">
      <a class="link" href="#">
        <div class="box-sidebar">
          <span>Contanto</span>
          <i class="fas fa-address-book"></i>
        </div>
      </a>
    </li>
    <li class="item">
      <a class="link" href="#">
        <div class="box-sidebar">
          <span>Ayuda</span>
          <i class="fas fa-hands-helping"></i>
        </div>
      </a>
    </li>
  </ul>
</nav>